---
Checks: "-*,\
bugprone-*,\
cert-*,\
cppcoreguidelines-*,\
clang-diagnostic-*,\
clang-analyzer-*,\
misc-*,\
modernize-*,\
performance-*,\
readability-*,\
-bugprone-undefined-memory-manipulation,\
-clang-diagnostic-unused-command-line-argument,\
-cppcoreguidelines-pro-bounds-constant-array-index,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-type-union-access,\
-cppcoreguidelines-pro-type-reinterpret-cast,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-cppcoreguidelines-owning-memory,\
-modernize-make-unique,\
-modernize-make-shared,"
FormatStyle: file
WarningsAsErrors: '*'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
...
